*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    background-image: url('images/background.jpg');
    height: 360px;
    background-repeat: no-repeat;
}

.fireworks{
    width: 100px;
    position: absolute;
    margin-left: 300px;
}

.fireworks2{
    width: 100px;
    position: absolute;
    margin-left: 500px;
}

.horse1{
    position: absolute;
    margin-top: 260px;
    margin-left: 200px;
    width: 100px;
    animation-name: moveRight;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

.horse2{
    position: absolute;
    padding-top: 260px;
    margin-left: 489px;
    width: 100px;
    animation-name: moveLeft;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

h1{
    position: absolute;
    padding-left: 220px;
    color:crimson
}

@keyframes moveRight{
    from {
        left: 0;
    }
    to {
        left: 5.5%;
    }
}

@keyframes moveLeft{
    from {
        left: 0;
    }
    to {
        left: -5.5%;
    }
}